@page "/"

<h1>iMIS Migrate</h1>

<p>
    iMIS Migrate is a cloud based tool for managing iMIS data migrations and iMIS site updates.
    It replaces Workbook Converter, but also can handle additional data including content, navigation, panel sources and panels, reports, and queries.
    iMIS Migrate can migrate documents and other data structures from another iMIS system, or import data from a file.
</p>
<p>
    iMIS Migrate is made up of stored projects. Projects name the assets (sources) for the data that will be sent to the target system. Data is either retrieved from an existing iMIS system, or uploaded in to the project using a file.
    Users can store multiple projects, and projects may be shared between users.
    The same data migration can be performed for multiple systems; for example, if there are queries you import for every client you implement, you would use the same stored project, so there is no need for duplicate projects.
</p>

<h2>Supported data:</h2>
<p>
    With iMIS Migrate, you can migrate the following from one system to another:
</p>

<ul>
    <li>
        Alert Sets
    </li>
    <li>
        Business Objects
    </li>
    <li>
        Content and Content Layouts
    </li>
    <li>
        Documents (Note: Represents anything in the Document System, excluding Communication Templates.)
    </li>
    <li>
        Panel Data Sources
    </li>
    <li>
        Panel Definitions
    </li>
    <li>
        Process Automation Tasks
    </li>
    <li>
        Shortcuts
    </li>
</ul>

<p><a href="/Docs/iMIS Migrate.pdf" target="_new">iMIS Migrate documentation</a></p>